<%= form_with(model: faculty_profile) do |form| %>
  <% if faculty_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(faculty_profile.errors.count, "error") %> prohibited this faculty_profile from being saved:</h2>

      <ul>
        <% faculty_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="max-w-md mx-auto bg-white p-8 shadow-md rounded-md">
  <h2 class="text-2xl font-semibold mb-6">Faculty Information Form</h2>
    <div>
      <%= form.label :name, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :name, class: 'mt-1 p-2 border rounded-md w-full' %>
    </div>
    <div>
      <%= form.label :email_id, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.email_field :email_id, class: 'mt-1 p-2 border rounded-md w-full' %>
    </div>
    <div>
      <%= form.label :Department, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :dept, class: 'mt-1 p-2 border rounded-md w-full' %>
    </div>
    <div>
      <%= form.label :Staff_ID, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :staff_id, class: 'mt-1 p-2 border rounded-md w-full' %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= form.submit 'Submit', class: 'bg-blue-500 text-white p-2 rounded-md w-full' %>
    </div>
  </div>
<% end %>
