<p style="color: green"><%= notice %></p>

<%= render @student_registration %>

<div>
  <%= link_to "Edit this student registration", edit_student_registration_path(@student_registration) %> |
  <%= link_to "Back to student registrations", student_registrations_path %>

  <%= button_to "Destroy this student registration", @student_registration, method: :delete %>
</div>
