<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500 to-indigo-700">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="text-3xl font-extrabold mb-6 text-center text-gray-800">Welcome Back!</h2>
      
      <div class="mb-6">
        <%= f.label :email, class: "block text-gray-700 text-sm font-semibold mb-2" %>
        <%= f.email_field :email, class: "w-full px-4 py-3 rounded-lg border focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= f.label :password, class: "block text-gray-700 text-sm font-semibold mb-2" %>
        <%= f.password_field :password, class: "w-full px-4 py-3 rounded-lg border focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6 flex items-center">
        <%= f.check_box :remember_me, class: "mr-2 leading-tight text-indigo-500" %>
        <%= f.label :remember_me, class: "text-sm text-gray-700" %>
      </div>

      <div class="flex items-center justify-center">
        <%= f.submit "Log in", class: "bg-indigo-600 hover:bg-indigo-800 text-white font-bold py-3 px-8 rounded-full focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

    <div class="mt-4 text-center">
      <p class="text-gray-600">Haven't registered yet?</p>
      <%= link_to "Register here", new_user_registration_path, class: "text-indigo-600 hover:underline" %>
    </div>
  </div>
</div>
